{% load mapbox_location_field_tags %}
{% location_field_includes %}
{% include_jquery %}
{% load crispy_forms_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"></head>
<body>
    <h2>Добавление воспоминания</h2>
    <form method="post">
    {% csrf_token %}
        {{ form.name|as_crispy_field }}
        {{ form.info|as_crispy_field }}
        {{ form.address|as_crispy_field }}
        <div style="width: 700px; height: 450px">
            {{ form.location|as_crispy_field }}
        </div>
     <button type="submit" class="btn btn-success">Добавить</button>
    </form>
    {{ form.media }}
</body>
</html>